body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
/*
Find the css for the section youre looking for, here are the different sections:
1- NAVBAR
2- Home Page
3- Footer
4- Google Svg

*/

/* ---------------NAVBAR------------------*/
.navbar-parent-container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1%;
}
.navbar-right-container-nav {
  display: flex;
  margin-right: 4%;
}
.navbar-logo-nav {
  margin-left: 2%;
  font-size: 28px;
  font-weight: bolder;
}
.login-button-nav {
  height: 36px;
  width: 68px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #b52d3b;
  color: white;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.9;
}
.select-language-nav {
  display: flex;
  align-items: center;
  margin-right: 20%;
}
.select-language-nav select {
  width: 128px;
  background-color: #358fa1;
  padding: 0px; /* Adjust padding to your preference */
  border: none;
  border-radius: 5px;
  color: white;
  height: 36px;
  font-size: 15px;
  opacity: 0.95;
  cursor: pointer;
}

.select-language-nav select:focus {
  outline: none;
  border: none;
}

/* ---------------^^^^^^^^^^^^^^^^^------------------*/

/* ---------------Home Page------------------*/
.header-home-parent {
  height: 97vh;
}
.image-home {
  top: 0;
  width: 100%;
  height: 97%;
  z-index: -1;
  position: absolute;
}

.title-container-home {
  width: 100%;
  display: flex;
  margin-top: 15%;
  flex-direction: column;
}
.title-img-home {
  color: white;
  font-size: 60px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  margin-right: auto;
  margin-left: 5%;
}
.title-img-sub-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-partner-home {
}
.img-subtitle-home {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-top: 4%;
}
.img-btn-home {
  width: 170px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #b52d3b;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.footer-img-home {
  background-color: black;
  width: 100%;
  opacity: 0.9;
  bottom: 0;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  margin-bottom: 22px;
}

.img-subtext-container-home {
  display: flex;
  width: auto;
}

.red-ball-home {
  background-color: #b52d3b;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.img-subtext-home {
  color: white;
}

.img-footer-bar-home {
  width: 100%;
  height: 50px;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-section-parent-home {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.intro-container-home {
  width: 23%;
}

.intro-heading-home {
  font-size: 24px;
  color: #b52d3b;
}

.intro-paragraph-home {
  font-size: 15px;
  margin-top: 5%;
  font-weight: 100;
}

.results-section-home {
  margin-top: 5%;
  width: 100%;
  background-color: rgb(242, 242, 242);
  height: auto;
}

.results-heading-home {
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
  color: #b52d3b;
}

.results-img-home {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.results-img-home img {
  border-radius: 100px;
}

.results-container-home {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.results-story-home {
  font-size: 15px;
  font-weight: bold;
  color: rgb(79, 79, 79);
}

.results-name-home {
  font-weight: 100;
  margin-top: 9%;
  text-align: center;
}

.displayResults-home {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.home-con {
  text-align: center;
  width: 100%;
  margin-top: 2.5%;
}

.results-button-container-home {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  margin-top: 5%;
}

.results-button-home {
  width: 180px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #b52d3b;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.works-section-home {
  width: 100%;
  background-color: white;
  height: auto;
}

.works-title-home {
  text-align: center;
  padding-top: 6%;
  font-size: 24px;
  color: #b52d3b;
}

.works-sub-home {
  text-align: center;
  font-size: 16px;
  color: rgb(79, 79, 79);
  font-weight: bold;
  padding-top: 0.5%;
}

.svg-container-home {
  display: flex;
  justify-content: space-evenly;
}

.create-profile-svg-home {
  padding-top: 13%;
  width: 200px;
  text-align: center;
}

.first-svg-title-home {
  font-size: 20px;
  color: #b52d3b;
}

.svg-sub-container-home {
  margin-top: 3%;
}

.first-svg-sub-home {
  font-size: 15px;
  color: rgb(79, 79, 79);
  padding-top: 0.5%;
}

.works-button-home {
  width: 180px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #b52d3b;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.works-button-container-home {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  margin-top: 6%;
}

.bottom-image-section-home {
  width: 100%;
  margin-top: 5%;
}

.bottom-image-home {
  width: 100%;
  height: 60vh;
  position: absolute;
  z-index: -1;
}

.bottom-image-home::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%; /* Adjust the width to control the darkness area */
  height: 60vh;
  background: black;
  opacity: 0.75;
  z-index: 1;
}

.download-container-home {
  display: flex;
  align-items: center;
  margin-top: 5%;
  height: 60vh;
}

.download-subContainer-home {
  height: 20%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.download-heading-home {
  color: white;
  font-size: 24px;
  white-space: nowrap;
}
.google-svg-home {
  padding-left: 3%;
}
.apple-svg-home {
  padding-left: 3%;
}
/* ---------------^^^^^^^^^^^^^^^^^------------------*/

/* -------------------Footer---------------------*/

.parent-container-footer {
}
.change-language-section-footer {
  background-color: #777777;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.change-language-head-footer {
  color: white;
  padding-left: 2%;
  padding-right: 1%;
}

.languages-container-footer {
  display: flex;
  align-items: flex-start;
}

.change-language-footer {
  cursor: pointer;
  color: white;
}

.others-parent-footer {
  background-color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.visit-other-container-footer {
  margin-top: 2.5%;
}

.visit-other-heading-footer {
  font-size: 17px;
  padding-left: 4%;
}

.links-container-footer {
  display: flex;
}
.container-1-footer {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}
.container-2-footer {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}

.links-footer {
  text-decoration: none;
  color: #777777;
  font-size: 14px;
  padding-bottom: 3%;
}

.legal-heading-footer {
  font-size: 17px;
}
.legal-heading-2-footer {
}
.legal-parent-footer {
  display: flex;
}

.legal-container-parent-footer {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 2%;
}

.legal-container-1-footer {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}

.legal-heading-1-footer {
  padding-bottom: 4%;
}
.legal-para-1-footer {
  color: #777777;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 0.3%;
  padding-top: 1%;
}

.legal-container-2-footer {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.legal-para-2-footer {
  color: #777777;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 0.3%;
}

.copyrights-parent-footer {
  background-color: #777777;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  padding: 0;
}

/* ---------------^^^^^^^^^^^^^^^^^------------------*/

/*--------------Google Svg CSS--------------*/
.st0 {
  fill: #000000; /* Change the fill color to black */
  stroke: #a6a6a6; /* Add a stroke (border) color */
  stroke-width: 1; /* Set the border width to your preference */
}
.st1 {
  stroke: #ffffff;
  stroke-width: 0.2;
  stroke-miterlimit: 10;
}
.st1,
.st2 {
  fill: #fff;
}
.st3 {
  fill: url(#SVGID_1_);
}
.st4 {
  fill: url(#SVGID_2_);
}
.st5 {
  fill: url(#SVGID_3_);
}
.st6 {
  fill: url(#SVGID_4_);
}
.st7,
.st8,
.st9 {
  opacity: 0.2;
  enable-background: new;
}
.st8,
.st9 {
  opacity: 0.12;
}
.st9 {
  opacity: 0.25;
  fill: #fff;
}
